/*ШРИФТЫ---------------------------------------------------------------------------------------------------FONTS*/
				
@font-face {
    font-family: GOTHIC;
    src: url(../font/GOTHIC.TTF);
}

/*МЕНЮ---------------------------------------------------------------------------------------------------MENU*/
body{
	font-family: GOTHIC;
	margin: 0;
	animation: fadeIn 1.5s;
}
.menu-block{
	width: 100%;
    margin: 0 auto;
    background-color: white;
	display: inline-flex;
	justify-content: center;
}
.menu-section-logo {
	margin-top: 2%;
	padding: 0% 2%;
    width: 20%;
}
.menu-section {
    margin-top: 6%;
    padding: 1px;
    list-style: none;
    width: 19%;
    font-size: 2.2vw;
}
.menu-section a {
	display: block;
	color: #66cccc;
	padding: 8px 5px;
	text-align: center;
	text-decoration: none;
	border-radius: 50px;
	border: 1px solid white;
	transition: 0.5s;
}
.menu-section a:hover {
	background: #66cccc;
	color: white;
	border-radius: 50px;
	border: 1px solid #66cccc;
    transition: 0.5s;
    opacity: 0.7;
}
.header {
	width: 100%;
	margin-top: 2%;
    margin-right: 8%; 
    margin-bottom: 2%;
    color: #66cccc;
    font-family: GOTHIC;
    font-size: 1.1vw;
    text-align: center;
}
/*О НАС---------------------------------------------------------------------------------------------------ABOUT*/ 
.layout { 
	margin-top: 1%;
}
.layout .d { 
	float: none;
	margin-bottom: 0%;
	padding: 2%;
}
.col-photo {
	margin-top: 50px;
}
.photo-VR {
	display: block;
	margin: 0 auto;
	width: 40vw;
	border-radius: 100%;
	box-shadow: 0 0 13px rgba(0,0,0,0.5); 
}
.col-txt {
	margin: 60px;
	font-size: 14px;
	color: #333333;
	text-align: justify;
}
.col-txt .paragraph-link{
	display: inline-block;
    color: #459b99;
}
.col-txt .paragraph-link:hover {
	text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}
/*ПОРТФОЛИО---------------------------------------------------------------------------------------------------PORTFOLIO*/
.portfolio-columns{
	width: 95%;
	margin-left: 2%;
	margin-right: 2%;
	text-align: center;
}
.album-service { 
	width: 100%;
	margin-top: 3%;
    margin-right: 8%; 
    padding: 0;  
    background: white; 
}
.album-service div{
    font-family: GOTHIC;
    border-radius: 10px;
    transition: 1s;
    padding: 1% 1%;
    margin-bottom: 2%;
}
.album-service div:hover{
    font-family: GOTHIC;
    text-shadow: 2px 2px 0 #377776;
    opacity: 0.85;
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.02,1.02);
    box-shadow: 0 0 13px rgba(0,0,0,0.5);
}			
.bar-option p{
    padding: 8%;
    text-align: center;
    font-family: GOTHIC;
    font-size: 3vw;
}
.album-service a{
	color: white;	
}			    
.left-column{
    float: left;
    width: 47%;
    min-height: 50%;
}
.right-column{
    float: right;
    width: 47%;
    min-height: 50%;
}
.wedding { 
    background-image: url(../img/wedding.jpg);
    background-size:100%;
}
.portrait { 
    background-image: url(../img/portrait.jpg);
    background-size: 100%;
}
.love { 
    background-image: url(../img/love.jpg);
    background-size: 100%;
}
.fashion {
    background-image: url(../img/fashion.jpg);
    background-size: 100%;
}
.reportage{ 
	background-image: url(../img/reportage.jpg);
	background-size: 100%;
    }
.family{
	background-image: url(../img/family.jpg);
    background-size: 100%;
}	    
/*ИНДЕКС-СЛАЙДЕР---------------------------------------------------------------------------------------------------INDEX-SLIDER*/
.margtop {
	margin-top: 60px;
}
.main {
	max-width: 1050px;
	max-height: 500px;
	margin: 20px auto;
}
.slide {
	outline: none;
	padding: 10px auto;
}
.slide img {
	border-radius: 5px;
	margin:  0 auto;
}
/*ЦЕНЫ---------------------------------------------------------------------------------------------------PRICE*/
.price-layout { 
	margin-top: 1%;
	margin-right: 8%; 
	margin-left: 11%;
}
.price-layout div { 
	float: none;
	padding: 2%;
	width: 95%;	
}
.price-photo{
	width: 50%;
	border-radius: 15px;
	margin-left: 25%;
}
.price-col1 { 
	background: ;
	width: 30%;
	padding: 1%; 
}
.price-col2 { 
	background: ; 
	left: 33%; 
	width: 30%;
	padding: 1%;  
}
.price-col3 { 
	background: ;
	right: 0; 
	width: 30%;
	padding: 1%;  
}
.price-col-txt {
	font-size: 15px;
	color: #333333;
	font-family: GOTHIC;
}
.italic {
	font-style: italic;
}
.price-center-txt {
	font-size: 18px;
	color: #555555;
	text-align: center;
}
/*КОНТАКТЫ---------------------------------------------------------------------------------------------------CONTACTS*/
.column{
	width: 73%;
	margin-left: 12%;
	margin-right: 12%;
}
.contacts-text {
	text-align: justify;
	margin-top: 40px;
	margin-bottom: 40px;
}
.contacts-text p {
	width: 100%;
	margin-top: 2%; 
    margin-bottom: 2%;
    color: #333333;
    font-family: GOTHIC;
    font-size: 15px;
}
.contacts-text span {
	font-size: 17px;
	text-decoration: underline;
}
.form-message {
	margin-bottom: 40px;
}
.form-message-cont {
 	display: flex;
 	flex-direction: column;
 	/*justify-content: center;*/
 	align-items: center;
}
 .first-column {
 	width: 80%;
    height: 150px;
}
 .second-column {
 	width: 80%;
    height: 150px;
}
.f-text {
	padding-left: 10px;
	font-size: 17px;
	width: 98%;
	margin-bottom: 15px;
	height: 25px;
	border-radius: 4px;
	font-family: GOTHIC;
	color: #333333;
	border: 1px solid #d6d6d6;
}
.f-text:focus {
	outline-color: #66cccc;
}
.f-textarea {
	padding-left: 10px;
	font-size: 17px;
	width: 98%;
	height: 95%;
	max-height: 100%;
	border-radius: 4px;
	font-family: GOTHIC;
	color: #333333;
	border: 1px solid #d6d6d6;
}
.f-textarea:focus {
	outline-color: #66cccc;
}
.clear {
	height: 40px;
}
.buttons {
    width: 100%;
    max-width: 250px;
    cursor: pointer;
    font: normal 14px GOTHIC;
    letter-spacing: 3px;
    color: #474747;
    margin: 0 auto;
    background-color: ;
}
.button {
	width: 100%;
	height: 60px;
	font-size: 20px;
	border: none;
	background-color: white;
	color: #66cccc;
	text-shadow: 1px 1px 0 #377776;
	cursor: pointer;
	border-radius: 5px;
}
/*ПОДВАЛ---------------------------------------------------------------------------------------------------FOOTER*/
footer{
	margin-top: 50px;
	width: 100%;
    clear: both;
}
.line {
    width: 60%; 
    height: 1px; 
    background: #66cccc; 
    border: 0; 
    margin: 0 auto;
}
.soc_link{
	height: 5vw;
	padding: 3%;
}
.hover-link:hover{ 
    cursor: pointer;
    opacity: 0.6;
}
.center_block{
	font-family: GOTHIC;
	text-align: center;
	color: #333333;
    font-size: 12px;
}
.footer-text{
	margin-left: 60px;
	margin-right: 60px;
	color: #777777;
	font-size: 10px;
}
			   