/*-----------------------------------------------------------------------------FONT*/
@font-face {
    font-family: GOTHIC;
	    src: url(../font/GOTHIC.TTF);
}
/*АНИМАЦИЯ---------------------------------------------------------------------------------------------------ANIMATION*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes boomDown {
  from {
    opacity: 0.7;
    transform: translate3d(0, -5%, 0);
  }

  50% {
    opacity: 1;
    transform: translate3d(0, 10%, 0);
  }
  to{
	transform: none;
  }
} 
/*-----------------------------------------------------------------------------MENU*/
body{
	font-family: GOTHIC;
	margin: 0;
	animation: fadeIn 1.5s;
}
.menu-block{
	width: 100%;
    margin: 0 auto;
    background-color: white;
	display: inline-flex;
	justify-content: center;
}
.menu-section-logo {
	margin-top: 2%;
	padding: 0% 2%;
    width: 20%;
}
.menu-section {
    margin-top: 6%;
    padding: 1px;
    list-style: none;
    width: 19%;
    font-size: 2.2vw;
    font-family: GOTHIC;
	
}
.menu-section a {
	display: block;
	color: #66cccc;
	padding: 8px 5px;
	text-align: center;
	text-decoration: none;
	border-radius: 50px;
	border: 1px solid white;
	transition: 0.5s;
}
.menu-section a:hover {
	background: #66cccc;
	color: white;
	border-radius: 50px;
	border: 1px solid #66cccc;
    transition: 0.5s;
    opacity: 0.7;
}
.header {
	width: 100%;
	margin-top: 2%;
    margin-right: 8%; 
    margin-bottom: 2%;
    color: #66cccc;
    font-family: GOTHIC;
    font-size: 1.1vw;
    text-align: center;
}
/*-----------------------------------------------------------------------------SubMENU*/
.subMenuCont{
	float: left;
	margin-left: 4%;
	width: 200px;
	margin-top: 2%;
}
.sub-menu {
	margin-top: 1%;
}
.stop {
	position: fixed; 
	top: 10px;
	animation: boomDown 1s;
}
.photoalbum {
	color:white;
	text-align: center;
	font-size: 55px;
	margin-left: 23.5%;
	margin-right: 23.6%;
}
.sub-menu a div {
    border-radius: 10px;
    width: 11vw;
    padding: .1vw;
    margin-bottom: 10px;
    opacity: 0.65;
}
.sub-menu a div:hover {
	text-shadow: 2px 2px 0 #377776;
	border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.05,1.05);
    opacity: 100;
    text-decoration: none;
}
.sub-menu a div p{
    padding: 7%;
    text-align: center;
    font-family: GOTHIC;
    font-size: 1.1vw;
    text-shadow: 1.2px 1.2px 0 black;
    transition: 0.2s;
}
.sub-menu a {
	text-decoration: none;
	color: white;
}
.active-briquet {
	text-shadow: 1.5px 1.5px 0 #377776;
    cursor: pointer;
    transform: scale(1.05,1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    opacity: 100 !important;
}  
.wedding { 
    background-image: url(../img/wedding.jpg);
    background-size:100%;
}
.portrait { 
    background-image: url(../img/portrait.jpg);
    background-size: 100%;
}
.love { 
    background-image: url(../img/love.jpg);
    background-size: 100%;
}
.fashion {
    background-image: url(../img/fashion.jpg);
    background-size: 100%;
}
.reportage{ 
	background-image: url(../img/reportage.jpg);
	background-size: 100%;
}
.family{
	background-image: url(../img/family.jpg);
    background-size: 100%;
}
.Mportrait{
	background-image: url(../img/Mportrait.jpg);
	background-size: 100%;
}
.travel{
	background-image: url(../img/travel.jpg);
	background-size: 100%;
}
/*-----------------------------------------------------------------------------GALLERY-BLOCK*/			   
.item{
	display: flex;
  	align-items: stretch;
  	justify-content: center;
  	cursor: pointer;
  	animation: fadeIn 1.5s;
}
.item2{
	grid-area: span 2;
	display: flex;
  	align-items: stretch;
  	justify-content: center;
  	cursor: pointer;
  	animation: fadeIn 1.5s;
}
.item .item2 img{
	transform: scale(1.4);
  	overflow: hidden;
}
.grid div a {
	display: flex;
	align-items: stretch;
}
.grid { 
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}
@media (max-width: 2400px) {
	.grid { 
		display: grid;
		grid-template-columns: repeat(5, 1fr);
	}
}
@media (max-width: 1925px) {
	.grid { 
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}
@media (max-width: 1445px) {
	.grid { 
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (max-width: 1050px) {
	.grid { 
		display: grid;
		grid-gap: 5px;
		grid-template-columns: repeat(2, 1fr);
	}
}
#overlay {
    position: fixed;
    display: none;
    width: 100%; 
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
    animation: fadeIn 0.5s;
}
.overlay-cont{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%; 
    height: 100%;
}
.gap{
	height: 1%;
}
.sheet{
	display: flex;
	animation: fadeIn 0.4s;
}
.close-btn{
	display: block;
	text-align: center;
	cursor: pointer;
	min-height: 40px;
	margin-left: 92%;
	border-radius: 5px;
	overflow: hidden;
	transition: .3s;
}
.clear-ico{
	color: gray;
	display: flex;
	justify-content: center;
	font-size: 40px !important;
}
.close-btn:hover .clear-ico{
	color: white;
	transition: .3s;
	opacity: 1;
}
.chevron{
	color: gray;
	font-size: 7vw !important;
	height: 7vw;
	transition: .3s;
}
.chevron:hover{
	color: white;
	transition: .3s;
	opacity: 1;
}	
.GalleryPhotoSlide {
	display: flex;
	width: 80vw;
}
.backward{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5vw;
	height: 850px;
}
.forward{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5vw;
	height: 850px;
}
.hovered:hover i{	
	cursor: pointer;
}
.GalleryPhotoSlider {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.GalleryPhotoSlide img {
	max-height: 45vw;
	border-radius: 5px;
	margin:  0 auto;
}
/*-----------------------------------------------------------------------------FOOTER*/			    
footer{
	margin-top: 50px;
	width: 100%;
    clear: both;
}
.line {
    width: 60%; 
    height: 1px; 
    background: #66cccc; 
    border: 0; 
    margin: 0 auto;
}
.soc_link{
	height: 5vw;
	padding: 3%;
}
.hover-link:hover{ 
    cursor: pointer;
    opacity: 0.6;
}
.center_block{
	text-align: center;
	color: #333333;
    font-size: 12px;
}
.footer-text{
	margin-left: 60px;
	margin-right: 60px;
	color: #777777;
	font-size: 10px;
}