/*ШРИФТЫ---------------------------------------------------------------------------------------------------FONTS*/
@font-face {
    font-family: GOTHIC;
	    src: url(../font/GOTHIC.TTF);
}
/*АНИМАЦИЯ---------------------------------------------------------------------------------------------------ANIMATION*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  to {
  	opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
/*МЕНЮ---------------------------------------------------------------------------------------------------MENU*/
body{
	font-family: GOTHIC;
	margin: 0;
	animation: fadeIn 1.5s;
}
.menu-block{
	display: inline-flex;
	justify-content: center;
	width: 100%;
}
.menu-section-logo {
	padding: 0% 2%;
    width: 25%;
}
.menu-section {
    margin-top: 6%;
    width: 11%;
    font-size: 1vw;	
}
.menu-section a {
	display: block;
	color: #66cccc;
	padding: 8px 5px;
	text-align: center;
	text-decoration: none;
	border-radius: 50px;
	border: 1px solid white;
	transition: .7s;
}
.menu-section a:hover {
	background: #66cccc;
	color: white;
	border-radius: 50px;
	border: 1px solid #66cccc;
    transition: .7s;
    opacity: .7;
}
.header {
	width: 100%;
	margin-top: 2%; 
    margin-bottom: 4%;
    color: #66cccc;
    font-size: 20px;
    text-align: center;
}
@media (max-width: 1150px) {
	.menu-section {
	    padding: 1px;
	    width: 17%;
	    font-size: 1.5vw;
	}
	.header {
	    font-size: 16px;
	}
}
/*О НАС---------------------------------------------------------------------------------------------------ABOUT*/ 
.about-container { 
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 1%;
}
.col-photo {
	width: 530px;
	margin-left: 20px;
	margin-right: 20px;
}
.photo-VR {
	width: 450px;
    margin-left: 10%;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0,0,0,1); 
}
.col-txt {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 530px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 15px;
	color: #444444;
	text-align: justify;
}
.col-txt p {
	margin-top: 0;
	margin-bottom: 0;
}
.col-txt .paragraph-link{
	display: inline-block;
    color: #459b99;
}
.col-txt .paragraph-link:hover {
	text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}
@media (max-width: 1040px) {
	.about-container {
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	}
}
/*ПОРТФОЛИО---------------------------------------------------------------------------------------------------PORTFOLIO*/
.portfolio-columns{
	width: 75%;
	margin-left: 12%;
	margin-right: 12%;
	text-align: center;
}
.album-service { 
	width: 100%;
	margin-top: 3%;
    margin-right: 8%; 
    padding: 0;  
    background: white; 
}
.album-service div{
    border-radius: 10px;
    transition: 1s;
    padding: 1% 1%;
    margin-bottom: 2%;
}
.album-service div:hover{
    text-shadow: 0px 0px 10px black;
    opacity: 0.85;
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.02,1.02);
    box-shadow: 0 0 13px rgba(0,0,0,0.5);
}
.bar-option p{
    padding: 8%;
    text-align: center;
    font-size: 3vw;
}
.album-service a{
	color: white;	
}
.left-column{
    float: left;
    width: 47%;
    min-height: 50%;
}
.right-column{
    float: right;
    width: 47%;
    min-height: 50%;
}
.wedding { 
    background-image: url(../img/wedding.jpg);
    background-size:100%;
}
.portrait { 
    background-image: url(../img/portrait.jpg);
    background-size: 100%;
}
.love { 
    background-image: url(../img/love.jpg);
    background-size: 100%;
}
.fashion {
    background-image: url(../img/fashion.jpg);
    background-size: 100%;
}
.reportage{ 
	background-image: url(../img/reportage.jpg);
	background-size: 100%;
    }

.family{
	background-image: url(../img/family.jpg);
    background-size: 100%;
}    
/*ИНДЕКС-СЛАЙДЕР---------------------------------------------------------------------------------------------------INDEX-SLIDER*/
.margtop {
	margin-top: 60px;
}
.main {
	max-width: 1050px;
	max-height: 500px;
	margin: 20px auto;
}
.slide {
	outline: none;
	padding: 10px auto;
	animation: bounceInUp 1s;
}
.slide img {
	border-radius: 5px;
	margin:  0 auto;
}
/*ЦЕНЫ---------------------------------------------------------------------------------------------------PRICE*/
.price-layout { 	
	margin-top: 1%;
	margin-right: 8%; 
	margin-left: 11%;
}
.price-layout div { 
	float: left;
	margin-bottom: 3%;	
}
.price-photo{
	height: 260px;
	width: 22vw;
	border-radius: 15px;
	margin-left: 6%;
    object-fit: cover;
	overflow: hidden; 
}
.price-col1 {
	 width: 30%;
	 padding: 1%; 
	}
.price-col2 { 
	background: ; 
	left: 33%; 
	width: 30%;
	padding: 1%;  
}
.price-col3 { 
	background: ;
	right: 0; 
	width: 30%;
	padding: 1%;  
}
.price-col-txt {
	font-size: 15px;
	color: #444444;
}
.italic {
	font-style: italic;
	text-align: center;
}
.price-center-txt {
	font-size: 16px;
	color: #555555;
	text-align: center;
	font-weight: bold;
}
@media (max-width: 1100px){
	.price-layout div {
		float: none;
		padding: 2%;
		width: 95%;
	}
	.price-photo {
		width: 50%;
		object-fit: cover;
	    margin-left: 25%;
	}
}
/*КОНТАКТЫ---------------------------------------------------------------------------------------------------CONTACTS*/
.columns{
	width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.contacts-text {
	text-align: justify;
	margin-top: 40px;
	margin-bottom: 40px;
}
.contacts-text p {
	width: 100%;
	margin-top: 2%; 
    margin-bottom: 2%;
    color: #444444;
    font-family: GOTHIC;
    font-size: 15px;
}
.contacts-text span {
	text-decoration: underline;
}
.form-message {
	margin-bottom: 40px;
}
.form-message-cont {
 	display: flex;
 	flex-direction: row;
}
 .first-column {
 	display: flex;
    flex-direction: column;
 	width: 80%;
}
 .second-column {
 	width: 80%;
 	margin-right: 10px;
}
.f-text {
	padding-left: 10px;
	margin-right: 30px;
	font-size: 12px;
	height: 25px;
	border-radius: 4px;
	font-family: GOTHIC;
	color: #444444;
	border: 1px solid #d6d6d6;
}
.f-text:focus {
	outline-color: #66cccc;
}
.f-textarea {
	padding-left: 10px;
	font-size: 12px;
	width: 96%;
    height: 85%;
	max-height: 100%;
	border-radius: 4px;
	font-family: GOTHIC;
	color: #444444;
	border: 1px solid #d6d6d6;
}
.f-textarea:focus {
	outline-color: #66cccc;
}
.button-container{
	display: flex;
    justify-content: center;
	width: 100%;
	margin-top: 20px;
}
.button {
	width: 20%;
	height: 100%;
	font-size: 18px;
	padding: 8px;
	background-color: #66cccc;
	color: white;
	cursor: pointer;
	outline:none;
	border: none;
    opacity: 0.7;
	border-radius: 20px;
}
.button:hover {
	box-shadow: 0px 0px 5px gray;
	cursor: pointer;
    transition: 0.5s;
}
@media (max-width: 1400px) {
	.columns {
	    width: 64%;
	    margin-left: 18%;
	    margin-right: 18%;
	}
}
@media (max-width: 1040px) {
	.columns{
		width: 75%;
		margin-left: 11%;
		margin-right: 11%;
	}
	.form-message-cont {
	 	display: flex;
	 	flex-direction: column;
	 	align-items: center;
	}
	 .first-column {
	 	display: flex;
	 	justify-content: center;
	 	width: 80%;
	    height: 150px;
	}
	 .second-column {
	 	display: flex;
	 	justify-content: center;
	 	width: 80%;
	    height: 150px;
	}
	.f-text {
		margin-right: 10px;
	}
}
/*ПОДВАЛ---------------------------------------------------------------------------------------------------FOOTER*/
footer{
	width: 100%;
	margin-top: 10%;
    margin-bottom: 1%;
    clear: both;
}
.margBottom{
	margin-bottom: 3% !important;
}
.line {
    width: 55%; 
    height: 1px; 
    background: #66cccc; 
    border: 0; 
    margin: 0 auto;
}
.soc_link{
	height: 2%; 
	width: 2%;
}
.hover-link:hover{ 
    cursor: pointer;
    opacity: 0.6;
}
.center_block {
    margin-top: 2%;
    margin-bottom: 1%;
    text-align: center;
    color: #777777;
}
.center_block span {
	font-size: 12px;
}
.footer-text{
	font-size: 10px;
	color: #777777;
}
			   